.text-center {
  text-align: center;
}
.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.search-bar-wrapper {
  text-align: center;
}
.search-bar-wrapper input {
  min-width: 650px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

.products-container-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-top: 20px;
  background-color: #ffffff;
}

.product-item-wrapper {
  margin: 5px;
}

.product-container {
  padding: 10px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.product-container .product-thumbnail {
  height: 150px;
  text-align: center;
}
.product-container .product-thumbnail img {
  height: 100%;
}
.product-container .product-content .product-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Product Details Styles */
.product-details-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.product-details-wrapper .product-details-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.product-details-container {
  position: relative;
  margin: 0 auto;
  max-width: 550px;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 50px;
}

.product-details-container .product-container {
  box-shadow: none;
}
.product-details-additional-images {
  margin-top: 25px;
}
.product-details-additional-images img {
  margin: 10px;
}
