.text-center {
  text-align: center;
}
.app-wrapper {
  max-width: 850px;
  margin: 0 auto;
}
.search-bar-wrapper {
  text-align: center;
}
.search-bar-wrapper input {
  min-width: 650px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}
